@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

body > div {
  height: 100%;
  font-family: "Ubuntu Mono";
}

.ant-row {
  height: 100%;
}

.clock-1 {
  background-color: #ffccc7;
}

.clock-2 {
  background-color: #bae7ff;
}

.clock-3 {
  background-color: #d9f7be;
}

.clock {
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 1;
}

.date {
  font-size: 8em;
}

.time {
  font-size: 18em;
}

.note {
  font-size: 8em;
}
